<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form method="post" th:action="@{/login}" >
        <!-- General error message -->
        <div class="error-message" style="color: red;">
            <!-- Replace with server-side error message if any -->
            <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <!-- Error message for username -->
            <div class="error-message" style="color: red;">
                <p th:if="${usernameError}" th:text="${usernameError}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <!-- Error message for password -->
            <div class="error-message" style="color: red;">
                <p th:if="${passwordError}" th:text="${passwordError}"></p>
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
