<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Form</title>
</head>
<body>
<h1>Product Form</h1>
<form th:action="@{/products}" th:object="${product}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" required />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" required></textarea>
    </div>
    <div>
        <label for="category">Category</label>
        <input type="text" id="category" th:field="*{category}" required />
    </div>
    <div>
        <label for="productKey">Product Key</label>
        <input type="text" id="productKey" th:field="*{productKey}" required />
    </div>
    <div>
        <label for="image">Product Image</label>
        <input type="file" id="image" name="imageFile">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" th:field="*{price}" step="0.01" required />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
